/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #B098A4;
$primary-header-color: #45503B;
$light-grey: #DBD9DB;
@mixin button-styles() {
  font-family: 'Cabin', sans-serif;
  background-color: $light-grey;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

input,
select {
  font-family: 'Cabin', sans-serif;
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: $primary-background;
}

.hidden {
  display: none !important;
}

// header styling //
.title {
  grid-area: title;
}

.logout-btn {
  grid-area: logout-btn;
  height: 40px;
  width: 80px;
  margin-top: 3.5%;
  @include button-styles();
}

header {
  color: $primary-header-color;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". title title logout-btn";
  border-bottom: 1px solid grey;
}
// log in form styling
.username-input {
  grid-area: user-input;
  border-radius: 8px;
  width: 175px;
  font-size: 0.8em;
}

.username-label {
  color: $primary-header-color;
  font-size: 1.4em;
  grid-area: user-label;
}

.password-input {
  grid-area: pass-input;
  border-radius: 8px;
  width: 175px;
  font-size: 0.8em;
}

.password-label {
  font-size: 1.4em;
  color: $primary-header-color;
  grid-area: pass-label;
}

.login-btn {
  grid-area: login-btn;
  width: 100px;
  @include button-styles();
}

.login-form {
  display: none;
  margin-top: 100px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 0.3fr 0.3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-template-areas: ". user-label user-input ." ". pass-label pass-input ." ". login-btn login-btn .";
}
// customer dash styling //
#past-bookings {
  grid-area: past;
}

.customer-info-h3 {
  text-align: center;
  color: $primary-header-color;
  font-size: 1.3em;
}

#upcoming-bookings {
  grid-area: upcoming;
}

#total-spent {
  grid-area: total;
}

.info-boxes {
  margin-top: 2%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "past upcoming total";
}

.username-h2 {
  grid-area: welcome;
  color: black;
}

.welcome-user-nav {
  margin-top: 3%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "book-room-btn welcome welcome .";
}

.customer-info {
  border: 2px solid black;
  border-radius: 10px;
  align-content: center;
  height: 400px;
  width: 300px;
  padding: 25px;
}

.inner-box {
  padding: 6px;
}
// room booking styling
#book-room-btn {
  grid-area: book-room-btn;
  height: 80px;
  width: 160px;
  margin-top: 3.5%;
  @include button-styles();
}

#book-room-h3 {
  grid-area: book-room;
  font-style: italic;
  color: $primary-header-color;
}

#date-label {
  grid-area: date-label;
  justify-self: end;
}

#check-avail-btn,
#search-guest-btn {
  grid-area: check-btn;
  height: 40px;
  width: 80px;
  @include button-styles();
}

.book-this-room,
#delete-booking-btn {
  @include button-styles();
}

.user-search-form {
  padding: 30px;
}

.room-booking {
  margin-left: 29%;
  width: 40%;
  border: 2px solid $primary-header-color;
  border-radius: 5px;
  margin-top: 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "book-room book-room" "date-label date-input" "room-list-label room-list" "check-btn check-btn" "available-rooms available-rooms";
  grid-row-gap: 15px;
  grid-column-gap: 10px;
}
// manager dashboard styling
#dollar-amount,
#revenue-p {
  text-align: center;
  font-size: 3em;
}

#date-input {
  grid-area: date-input;
  justify-self: start;
}

.available-rooms {
  grid-area: available-rooms;
  padding: 10px;
}

#room-type {
  grid-area: room-list;
  justify-self: start;
}

#room-type-label {
  grid-area: room-list-label;
  justify-self: end;
}
