/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: pink;

body {
  font-family: 'Cabin', sans-serif;
  background-color: #B098A4;
}

// header styling //

.title {
  grid-area: title;
}

.logout-btn {
  grid-area: logout-btn;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  margin-top: 3.5%;
  font-family: 'Cabin', sans-serif;
  background-color: #DBD9DB;
  font-size: 1em;
}

header {
  color: #45503B;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". title title logout-btn";
}

// log in form styling //
.username-input {
  grid-area: user-input;
  border-radius: 8px;
  width: 175px;
  font-size: .8em;
}

.username-label {
  color: #45503B;
  font-size: 1.4em;
  grid-area: user-label;
}

.password-input {
  grid-area: pass-input;
  border-radius: 8px;
  width: 175px;
  font-size: .8em;
}

.password-label {
  font-size: 1.4em;
  color: #45503B;
  grid-area: pass-label;
}

.login-btn {
  font-size: 1em;
  grid-area: login-btn;
  width: 100px;
  border-radius: 5px;
  font-family: 'Cabin', sans-serif;
  background-color: #DBD9DB;

}

.login-form {
  margin-top: 100px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 0.3fr 0.3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-template-areas: ". user-label user-input ." ". pass-label pass-input ." ". login-btn login-btn .";
}
